---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import Speakers from '../../components/Speakers.astro'
---
<DefaultLayout title="Guest Speakers">
  <section class="container">
    <div class="my-24">
      <h1 class="mb-10 text-green-800">Guest Speakers</h1>
      <Speakers />
    </div>
  </section>
</DefaultLayout>