---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Agenda from "../components/Agenda.astro";
---

<DefaultLayout title="Agenda">
  <section class="container">
    <div class="my-24">
      <h1 class="mb-10 text-gradient">Agenda</h1>
      <Agenda />
    </div>
  </section>
</DefaultLayout>
