---
import After from '../components/After.astro';
import BeforeTheDay from '../components/BeforeTheDay.astro';
import During from '../components/During.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components';
---

<DefaultLayout title="FAQ">
  <div class="container">
    <div class="my-24">
      <h1 class="mb-10 text-gradient">FAQ - Frequently Asked Questions</h1>
    </div>
    <BeforeTheDay />
    <During />
    <After />
    <section class="mt-10">
      <h2 class="mb-4">Other questions about the 2023 Partner Symposium</h2>
      <div class="mx-auto max-w-2xl">
        <Accordion>
          <AccordionItem header="If I cannot attend, will it be broadcast on Zoom?">
            <p>No, this will be in person only.</p>
          </AccordionItem>
        </Accordion>
        <Accordion>
          <AccordionItem header="">
            <p>.</p>
          </AccordionItem>
        </Accordion>
        <Accordion>
          <AccordionItem header="What's the dress code?">
            <p></p>
          </AccordionItem>
        </Accordion>
        <Accordion>
          <AccordionItem header="Can my family members/friends come to the reception prior?">
            <p>The reception is for staff only. Please plan to meet up with your guests after the reception.</p>
          </AccordionItem>
        </Accordion>
        <Accordion>
          <AccordionItem header="">
            <p></p>
          </AccordionItem>
        </Accordion>
      </div>
    </section>
  </div> 
</DefaultLayout>

<style lang="scss" is:global>
  body .accordion__item {
    .accordion__header {
      text-align: left;
    }
  }
  h2.mb-4, h2.mb-2 {
    margin-top: 1.5em;
    padding: 5px 10px;
    background: rgb(203,167,210);
    background: linear-gradient(90deg, rgba(203,167,210,1) 0%, rgba(255,255,255,1) 80%);
  }
  div.accordion ul:not(.accordion__wrapper) {
    list-style-type: disc;
    margin-left: 2em;
  }

  .panel__inner {
    font-size: 20px;
  }
</style>