---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import { Notification } from 'accessible-astro-components'
---

<DefaultLayout title="Home">
  <!--<div class="container">
    <Notification type="warning">
      <p><strong>Arrival time change: </strong>Doors will now open at 9:30 am (not 9 am). Plan to arrive at the Premium Entry between 9:30-10 am. Note that there may be a short wait at the entrance as all will be passing through security and a metal detector. (If you’re unable or prefer not to go through a metal detector, ask for a wand inspection.)</p>
    </Notification>
  </div> -->
  <Hero />
  <section class="container">
    <p>
      We are excited to welcome you to the 2023 Partner Symposium! We hope you are equally excited to join us for a deep dive into our work with people and communities to protect, restore, and nurture the world’s most ecologically important forests and oceans. Over the course of our 2 days together we will explore the innovative ways we are developing and delivering solutions that protect vital ocean and forest ecosystems and the abundance of life they support.
    </p>
    <br>
    <p>Monday June 5 will be held at the WWF Building, aka WWF HQ, aka the “Panda Palace” – and features leadership and experts from our Forests and Oceans teams. On Tuesday June 6 we will spend the day in DC, beginning at WWF HQ for a quick breakfast and then a shuttle ride over to the Woodrow Wilson International Center for Scholars, where we will hear a panel speak about ocean conservation policy. We’ll head to the National Museum of Natural History in the afternoon for a visit to Sant Ocean Hall. We adjourn in the afternoon and encourage you to participate in other Capitol Hill Ocean Week (CHOW) activities as you are able. <a href="https://preconvirtual.com/chow-2023-agenda/">Learn more about CHOW here.</a>
    </p>
    <br>
    <p>  
      If you have any questions, please contact us at (888) 993-1100 or <a href="mailto:partners@wwfus.org">partners@wwfus.org</a>.
    </p>
  </section>
</DefaultLayout>
