---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import { Notification } from 'accessible-astro-components'
---

<DefaultLayout title="Home">
  <!--<div class="container">
    <Notification type="warning">
      <p><strong>Arrival time change: </strong>Doors will now open at 9:30 am (not 9 am). Plan to arrive at the Premium Entry between 9:30-10 am. Note that there may be a short wait at the entrance as all will be passing through security and a metal detector. (If you’re unable or prefer not to go through a metal detector, ask for a wand inspection.)</p>
    </Notification>
  </div> -->
  <Hero />
  <section class="container">
    <p>
      We are excited to welcome you to the 2025 Partner Symposium at World Wildlife Fund Headquarters! We hope you are equally excited to join us for an enlightening and engaging experience focused on the future of conservation.  
    </p>
    <br>
    <p>
      Over the course of our day and a half together, you will hear stories of hope and impact from WWF experts, leaders, and scientists. You’ll also learn how your support is advancing innovative solutions for a more sustainable future—for wildlife, people, and nature—and preparing the next generation of conservation leaders. 
    </p>
    <br>
    <p>Thank you for joining us at the 2025 WWF Partner Symposium and for your commitment to conservation!  
    </p>
    <br>
    <p>  
      If you have any questions, please contact us at (888) 993-1100 or <a href="mailto:partners@wwfus.org">partners@wwfus.org</a>.
    </p>
  </section>
</DefaultLayout>
