---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---
<DefaultLayout title="Venue">
  <section class="container">
    <h1 class="text-gradient">Venue</h1>
    <div class="my-16 flex flex-col justify-between space-y-4 mb-6">
      <h2>Main Level</h2>
      <img src="/venue_map_1.jpg" alt="A map of the venue that shows important areas like bathrooms, elevators, stairs.">
      <h2>Mezzanine Level</h2>
      <img src="/venue_map_2.jpg" alt="A map of the venue that shows restrooms and breaout group rooms.">
    </div>
  </section>
</DefaultLayout>