---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---
<DefaultLayout title="Venue">
  <section class="container">
    <h1 class="text-gradient">Venue</h1>
    <img src='/Users/kayceemartin/work/Partner-Symposium/partner_symposium/public/HQ.jpg'>
    <p>
      Home to World Wildlife Fund headquarters, the WWF building offers 251,707 square feet of premium work habitat. The quadruple LEED Platinum Certified building has a stunning 8-story, sky-lit atrium and the third largest green roof in Washington, DC.
    </p>
    <br>
    <p>  
      WWF's U.S. headquarters was designed and built to conserve resources, limit waste and pollution, protect the environment, and make wise use of donated funds.
    </p>
    <br>
    </p>
    For more information on WWF's headquarts please visit <a href="https://www.worldwildlife.org/pages/wwf-s-green-headquarters">our webpage</a>.
  </p>
    </div>
  </section>
</DefaultLayout>