---
import {Accordion, AccordionItem} from 'accessible-astro-components';
---
<!-- <section class="after mt-10" id="after">
  <h2 class="mb-2">WWF Night at Nats Park</h2>
  <h3 class="text-2xl mb-4"></h3>
  <div class="mx-auto max-w-2xl">
    <Accordion>
      <AccordionItem header="Getting to Nats Park">
        <p>Once the reception ends, we'll walk on over to Nationals Park - it's just 10 minutes away. If you need special accommodations, please email <a href="mailto:staffnews@wwfus.org">staffnews@wwfus.org.</a></p>
      </AccordionItem>
    </Accordion>
    <Accordion>
      <AccordionItem header="How do I get my tickets?">
        <p>We’ll be distributing staff tickets for WWF Night at Nats Park during the reception at Audi Field from 4:30 - 6 pm.</p>
        <br>
        <p>If your guests paid for their tickets via cash or check, they will be in the same envelope as yours; if they purchased tickets online, they will have received an email at the time of purchase with instructions on how to access their ticket.</p>
      </AccordionItem>
    </Accordion>
    <Accordion>
      <AccordionItem header="What NOT to bring to Nats Park">
        <div class="flex flex-col justify-between space-y-4 mb-6">
          <p>Please <strong>DO NOT</strong> bring:</p>
          <ul class="list-disc">
            <li>Large bags or backpacks -- only small clutches, see-through bags, diaper bags and medical bags are allowed.</li>
            <li>Drawstring bags</li>
            <li>Water bottles that are not plastic, clear, and factory-sealed</li>
            <li>Laptops</li>
          </ul>
          <p>Any bag larger than a clutch must be clear plastic, vinyl, or PVC and cannot exceed 16” x 16” x 8”.</p>
          <p><img src ="/nationals_bag_options.png"/></p>
          <p>If you have a diaper or medical bag, you of course may bring it. Please use the ADA/family lanes at the Center Field and Home Plate gates to enter the stadium. Pay-by-the-hour lockers are available outside the Right Field Gate and Home Plate Gate on a first come, first served basis for bags that do not comply with the stadium bag policy. They open two hours prior to first pitch and close one hour after last pitch.</p>
          <p><a href="https://www.mlb.com/nationals/ballpark/information/bag-policy">Read the Washington Nationals Bag Policy</a>.</p>
        </div>
      </AccordionItem>
    </Accordion>
    <Accordion>
      <AccordionItem header="How will seating be handled?">
        <p>All WWF staff and family and friends will be seated in Sections 231, 233, 235, and 237. We’ll have open seating in our sections – you’ll ignore seat assignments on tickets.</p>
      </AccordionItem>
    </Accordion>
    <Accordion>
      <AccordionItem header="I reserved a staff ticket, but my plans changed. Who should I inform?">
        <p>Please email <a href="mailto:staffnews@wwfus.org">staffnews@wwfus.org</a>.</p>
      </AccordionItem>
    </Accordion>
    <Accordion>
      <AccordionItem header="I missed the deadline to reserve a staff ticket. Can I still sign up?">
        <p>Please email <a href="mailto:staffnews@wwfus.org">staffnews@wwfus.org</a> and we'll let you know.</p>
      </AccordionItem>
    </Accordion>
    <Accordion>
      <AccordionItem header="What if the game is canceled because of rain?">
        <p>The team will set a rain date, and your ticket will be valid for admission to that game. If you cannot attend the rescheduled game, no refunds are given.</p>
      </AccordionItem>
    </Accordion>
  </div> 
</section> -->
