---
import AgendaItem from './AgendaItem.astro'

const data = [
  {
    id: 1,
    time: { start: '8:00 am', end: '9:00 am' },
    title: 'Registration and Breakfast',
    description:
      '',
    categories: ['food', 'info'],
    speaker: '',
    day: 1,
  },
  {
    id: 2,
    time: { start: '9:00 am', end: '9:15 am' },
    title: 'Welcome and Opening Remarks',
    description:
      '',
    categories: ['session', 'speaker'],
    speaker: 'Andrew Wiley, Director, Partners in Conservation Julie Miller, Executive Vice President, Philanthropic Partnerships and Board Relations',
    day: 1,
  },
  {
    id: 3,
    time: { start: '9:15 am', end: '10:00 am' },
    title: 'President’s Report',
    description:
      'Learn the latest on the state of global conservation from Carter Roberts, who will share his insights on WWF’s work to deliver the most effective and enduring conservation solutions for nature and for people.',
    categories: ['session', 'speaker'],
    speaker: 'Carter Roberts, President & CEO',
    day: 1,
  },
  {
    id: 4,
    time: { start: '10:00 am', end: '11:00 am' },
    title: 'Morning Break',
    description:
      '',
    categories: ['food', 'info'],
    speaker:'',
    day: 1,
  },
  {
    id: 5,
    time: { start: '11:15 am', end: '12:15 pm' },
    title: 'Securing Nature’s Future: Project Finance for Permanence & Namibia for Life',
    description:
      'Project Finance for Permanence (PFP) is an approach to conservation that ensures large systems of conservation areas are well-managed, sustainably financed, and benefit the communities who depend on them for decades. WWF and our partners, in a collaboration called Enduring Earth, are developing PFP initiatives around the world to conserve nature and support local communities, including Namibia, where community-led conservation has brought iconic wildlife like elephants and black rhinos back from the brink.',
    categories: ['session', 'speaker'],
    speaker:'Katie Zdilla, Senior Director of Durable Conservation and Finance',
    day: 1,
  },
  {
    id: 6,
    time: { start: '12:15 pm', end: '1:30 pm' },
    title: 'Networking Lunch',
    description: '',
    categories: ['food', 'speaker'],
    speaker: '',
    day: 1,
  },
  {
    id: 8,
    time: { start: '1:30pm', end: '2:45pm' },
    title: 'The Next Generation of Conservation: Building Momentum for Lasting Change',
    description: "",
    categories: ['sesssion','info'],
    speaker: 'Megan Franci, Gift Planning Specialist Danielle Artis, Philanthropy Manager, Partners in Conservation Katy Fenn, Director, Brand Engagement and Education, WWF-USAlex Nichols-Vinueza, Director, Food Loss & Waste Jessica Leung, Director, Belonging and Employee Experience Sammi Lin, Program Associate, Policy and US Government Affairs Niccola Somers, Senior Specialist, Boundless Fellowship Program',
    day: 1,
  },
  {
    id: 9,
    time: { start: '2:45pm', end: '3:00pm' },
    title: 'Afternoon Break',
    description: "",
    categories: ['info'],
    day: 1,
  },
  {
    id: 10,
    time: { start: '3:00pm', end: '3:30pm' },
    title: 'Afternoon Adventures: Leave a Legacy, Travel the World',
    description: "",
    categories: ['session','info'],
    speaker: 'Debra Kathman Senior Director, Gift Planning Karl Egloff, Director, Conservation Travel ',
    day: 1,
  },
  {
    id: 11,
    time: { start: '3:30pm', end: '4:30pm' },
    title: 'Rangewide Conservation of Jaguars: The Road North',
    description: "The largest native feline in the Americas, the jaguar faces ongoing threats from hunting and habitat loss due to deforestation. Learn about WWF’s jaguar conservation priorities and hear updates on impactful jaguar conservation projects taking place across the Americas. During this session, you’ll also hear about WWF's exciting work to bring jaguars back to the US, and discover how advancements in environmental DNA (eDNA) technology are helping determine how far jaguars may already roam across the Desert Southwest.",
    categories: ['session','info'],
    speaker: 'Leigh Henry, Director, Wildlife Policy, Wildlife Conservation Robin Naidoo, Lead Scientist for Wildlife Conservation',
    day: 1,
  },
  {
    id: 12,
    time: { start: '4:30pm', end: '4:45pm' },
    title: 'Closing Remarks',
    description: "",
    categories: ['session','info'],
    speaker: 'Loren Mayor, Chief Operating Officer',
    day: 1,
  },
  {
    id: 13,
    time: { start: '4:45pm', end: '6:30pm' },
    title: 'Networking Reception',
    description: "",
    categories: ['session','info'],
    speaker: '',
    day: 1,
  },
  {
    id: 14,
    time: { start: '8:30am', end: '9:15am' },
    title: 'Arrival and Breakfast',
    description: "",
    categories: ['food','info'],
    day: 2,
  },
  {
    id: 15,
    time: { start: '9:15am', end:'9:30am'},
    title: 'Welcome and Opening Remarks',
    description: "",
    categories: ['info'],
    speaker: 'Andrew Wiley, Director, Partners in Conservation Loren Mayor, Chief Operating Officer',
    day: 2,
  },
  {
    id: 16,
    time: { start: '9:30am', end: '10:30am' },
    title: `Future Cities: The Beauty of Resilience`,
    description: "The National Building Museum’s Future Cities initiative aims to amplify the inspiring stories of our shared urban experience. Cities are at the center of the national conversation around the interwoven themes of identity, community, and resilience. In this session we’ll explore key plotlines and processes for shaping the world we design and build to become beautifully resilient.",
    categories: ['info'],
    speakers: 'James Darius Ball, Director, Future Cities Initiative, National Building Museum',
    day: 2,
  },
  {
    id: 17,
    time: { start: '10:30am', end: '10:345pm' },
    title: 'Morning Break',
    description: "",
    categories: ['info'],
    day: 2,
  },
  {
    id: 18,
    time: { start: '10:45pm', end: '12:15pm' },
    title: ' Infrastructure: What’s Nature Got to Do With It?',
    description: "Infrastructure underpins our societies, delivering the water we drink, the roads that connect us, and the electricity that powers our livelihoods. Yet it is one of the greatest drivers of habitat loss, degradation, and fragmentation worldwide, causing impacts such as blocking wildlife migration routes, affecting people's access to vital natural resources, weakening community resilience, and more. This session will explore how WWF is reaching across its teams to reimagine the future of infrastructure—one where infrastructure meets human needs and aspirations while allowing nature to thrive. ",
    categories: ['session', 'info'],
    speakers:'Anita van Breda, Senior Director, Environment and Disaster Management Nilanga Jayasinghe, Manager, Asian Species, Wildlife Conservation Evan Freund, Senior Director, Sustainable Infrastructure & Finance',
    day: 2,
  },
  {
    id: 19,
    time: { start: '12:15pm'},
    title: ' Closing Remarks and Farewell Lunch',
    description: "",
    categories: ['session', 'info'],
    speakers:'Julie Miller, Executive Vice President, Philanthropic Partnerships and Board Relations ',
    day: 2,
  },
]
---

<section class="agenda">
  <ul>
    {data.map((item, index) => <AgendaItem item={item} />)}
  </ul>
</section>
