---
import {Accordion, AccordionItem} from 'accessible-astro-components';
---
    <section class="before-the-day" id="before">
      <h2 class="mb-2">Before the Event</h2>
      <h3 class="text-2xl mb-4">Things to know leading up to the Partner Symposium</h3>
      <div class="mx-auto max-w-2xl">
      <Accordion>
        <AccordionItem header="Getting There">
          <div class=" flex flex-col justify-between space-y-4 mb-6">
            <h4>Location of the event</h4>
            <p></p>
            <p></p> 
          </div>
        </AccordionItem>
      </Accordion>
      <Accordion>
        <AccordionItem header="Covid Protocol">
          <div class="flex flex-col justify-between space-y-4 mb-6">
            <p>We are thrilled to safely resume in-person events, and we are adhering to the DC public health requirements and our medical advisor’s advice for the Partner Symposium.</p>
            <ul>
            <li>Everyone should take a rapid COVID-19 test the morning of the event before departing home or your hotel. If you need a rapid test, email <a href="mailto:staffnews@wwfus.org">staffnews@wwfus.org</a>.</li>
            <li>If you feel unwell or test positive for COVID-19 on Tuesday, stay at home.</li>
            <li>If you feel unwell at the event, you should promptly leave, self-isolate, and prioritize getting tested for COVID-19.</li>
            <li>Decisions to wear masks or physically distance will be respected. If you forget a mask, we’ll have some at the registration desk.</li>
            <li>The venue has ample outdoor spaces to get fresh air.</li>
            <li>Hand sanitizing stations are throughout the space.</li>
            <li>If you test positive for COVID-19 in the days following the event, please inform your HR business partner.</li>
            </ul>
          </div>
        </AccordionItem>  
      </Accordion> 
      <Accordion>
        <AccordionItem header="What to bring/wear">
          <div class="flex flex-col justify-between space-y-4 mb-6">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </AccordionItem>
      </Accordion>
      <Accordion>
        <AccordionItem header="">
          <div class="flex flex-col justify-between space-y-4 mb-6">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </AccordionItem>
      </Accordion>
      <Accordion>
        <AccordionItem header="">
          <div class="flex flex-col justify-between space-y-4 mb-6">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </AccordionItem>
      </Accordion>
      <Accordion>
        <AccordionItem header="Who to contact for other questions">
          <p>If you have additional questions, please email <a href="mailto:partners@wwfus.org">partners@wwfus.org</a></p>
        </AccordionItem>
      </Accordion>
    </div>
  </section>