---
import {Accordion, AccordionItem} from 'accessible-astro-components';
---
<section class="during mt-10" id="during">
  <h2 class="mb-2">Day 1</h2>
  <h3 class="text-2xl mb-4">Things to know for day one...</h3>
  <div class="mx-auto max-w-2xl">
    <Accordion>
      <AccordionItem header="Getting There">
        <div class=" flex flex-col justify-between space-y-4 mb-6">
          <h4>Location of the event</h4>
          <p></p>
          <p> <a href="" target="_blank" rel="noopener noreferrer"></a></p>
          <div class="mx-auto !mt-10">
            
          </div>
          <p></p> 
          <img src="" alt="a map of Audi field showing the Premium Entry on the First Street SW side">
          <img src="" alt="The premium entry to Audi Field">
        </div>
      </AccordionItem>
    </Accordion>
    <Accordion>
      <AccordionItem header="">
        <div class=" flex flex-col justify-between space-y-4 mb-6">
          <h2>Venue</h2>
          <div class="my-16 flex flex-col justify-between space-y-4 mb-6">
            <h2></h2>
            <img src="/venue_map_1.jpg" alt="A map of the venue that shows important areas like bathrooms, elevators, stairs.">
            
            <h2></h2>
            <img src="/venue_map_2.jpg" alt="A map of the venue that shows restrooms and breaout group rooms.">
            
          </div>
        </div>
      </AccordionItem>
    </Accordion>
    <Accordion>
      <AccordionItem header="First Aid">
        <p>A first aid facility is available next to the entrance where you came in (called the “Premium Entry”) and will be staffed all day.</p>
      </AccordionItem>
    </Accordion>
  </div> 
</section>