---
import Navigation from './Navigation.astro'
---

<footer>
  <Navigation footer={true}>
    <ul class="menu">
      <li class="menu-item">
        <a href="/">Home</a>
      </li>
      <li class="menu-item">
        <a href="/agenda">Agenda</a>
      </li>
      <li class="menu-item">
        <a href="/guest-speakers/">Speakers</a>
      </li>
      <li class="menu-item">
        <a href="/faq/">FAQs</a>
      </li>
      <li class="menu-item">
        <a href="/">WWF HQ</a>
      </li>
    </ul>
  </Navigation>
</footer>
