---
import Navigation from './Navigation.astro'
---

<footer>
  <Navigation footer={true}>
    <ul class="menu">
      <li class="menu-item">
        <a href="/">Home</a>
      </li>
      <li class="menu-item">
        <a href="/agenda">Agenda</a>
      </li>
      <li class="menu-item">
        <a href="/faq/">FAQ</a>
      </li>
      <li class="menu-item">
        <a href="/venue">Venue</a>
      </li>
      <li class="menu-item">
        <a href="/Speakers">Experts</a>
      </li>
    </ul>
  </Navigation>
</footer>
