<section class="container">
  <ul>
    <li><a href="#danielle-artis">Danielle Artis</a></li>
    <li><a href="#james-darius-ball">James Darius Ball</a></li>
    <li><a href="#karl-egloff">Karl Egloff</a></li>
    <li><a href="#katy-fenn">Katy Fenn</a></li>
    <li><a href="#megan-franci">Megan Franci</a></li>
    <li><a href="#evan-freund">Evan Freund</a></li>
    <li><a href="#leigh-henry">Leigh Henry</a></li>
    <li><a href="#nilanga-jayasinghe">Nilanga Jayasinghe</a></li>
    <li><a href="#nelly-kadagi">Dr. Nelly Kadagi</a></li>
    <li><a href="#debra-kathman">Debra Kathman</a></li>
    <li><a href="#jessica-leung">Jessica Leung</a></li>
    <li><a href="#sammi-lin">Sammi Lin</a></li>
    <li><a href="#loren-mayor">Loren Mayor</a></li>
    <li><a href="#julie-miller">Julie S. Miller</a></li>
    <li><a href="#robin-naidoo">Dr. Robin Naidoo</a></li>
    <li><a href="#kyle-newman">Kyle Newman</a></li>
    <li><a href="#alex-nicholas-vinueza">Alex Nichols-Vinueza</a></li>
    <li><a href="#carter-roberts">Carter Roberts</a></li>
    <li><a href="#niccola-somers">Niccola Somers</a></li>
    <li><a href="#peter-umunay">Peter Umunay</a></li>
    <li><a href="#antia-van-breda">Anita van Breda </a></li>
    <li><a href="#andrew-wiley">Andrew Wiley</a></li>
    <li><a href="#katie-zdilla">Katie Zdilla</a></li>
  </ul>
  <!-- hi -->
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="andrew-willey"
  >
    <h2>Andrew Wiley, Director, Partners in Conservation, WWF-US</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Andrew Willey"
        class="mb-4 w-[300px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Andrew leads the fundraising strategy and communications plan to connect WWF's Partners in Conservation community with its global conservation mission. He oversees the strategic direction of this program to increase the support and engagement of these committed annual donors through mailings, digital platforms, personal correspondence, and in-person events and webinars. He is also responsible for the personal stewardship and meaningful cultivation of Partners, and manages the WWF staff who build relationships with select conservation-minded donors who are closest to the organization. Andrew is a member of the Director Marketing Fundraisers Association's board of directors, and is a convenor and co-facilitator of its Mid-Level Giving Summit. Before joining WWF in 2009, Andrew worked in the development offices at the National Council for the Traditional Arts, Washington National Opera, and Common Cause. Originally from St. Paul, Minnesota, Andrew earned a BFA from Syracuse University. In his spare time, he can be found on stage singing lead vocals for DC's Finest Blues-Fiddle Band, The Roustabouts.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="julie-miller"
  >
    <h2>Julie S. Miller, Executive Vice President, Philanthropic Partnerships and Board Relations, WWF-US</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Jullie S. Miller"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>Julie leads WWF’s private fundraising efforts, providing critical support to its conservation initiatives around the world. Additionally, she also offers strategic management to the WWF-US Board of Directors and National Council and has been instrumental in the establishment of multi-stakeholder partnerships to achieve conservation at-scale.  
        </p>
        <p>Julie joined WWF in 2008 with over 25 years of relationship management and governance experience. During her professional career she has developed and managed The World Bureau, a research and information product development firm, and was also Group Vice President of Commercial Lending at the First American Bank of Washington. </p>
        <p>Julie has brought her considerable governance and advancement expertise to several nonprofit boards. She is an alumna of the University of Kansas and the George Washington University and has also completed an executive management program at the University of Pennsylvania’s Wharton School of Business.</p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="carter-roberts"
  >
    <h2>Carter Roberts, President and CEO, WWF-US</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Carter Roberts"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Carter Roberts has served as President and CEO of World Wildlife Fund in the United States since 2000. During that time, he's built a wide-reaching program on corporate sustainability, pioneered performance-based financial instruments for national protected area systems, and helped reverse the decline in tiger, rhino, and elephant populations in key parts of the world. As founding chair of Enduring Earth, Carter helped create a partnership with other NGOs and investors to strengthen the conservation of over a billion hectares of land. He founded Boundless Conservation Fellowship, a network of next generation conservation leaders and leading specialists key to conserving the whole of landscapes and seascapes. His work extends to WWF Impact, which invests in entrepreneurs developing innovative technologies to food systems challenges through sustainable practices in seaweed cultivation, food waste reduction, and regenerative agriculture. Carter has learned the calls of all the birds in North America. He serves on the boards of the Nicholas Institute at Duke University and the Grantham Institute for Climate Change. He holds an MBA from Harvard Business School and a BA from Princeton University. 
      </div>
    </div>
  </div> 
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="nelly-kadagi"
  >
    <h2>Dr. Nelly Kadagi, Director, Conservation Leadership and Russell E Train Education for Nature Program, WWF-US</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Dr. Nelly Kadagi"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Meg applies more than 25 years of experience to her role at WWF, where she has worked since 1990. Before joining WWF, Meg served as an environmental advisor at the U.S. Agency for International Development. Her experience spans conservation and natural resource management projects for forest and freshwater ecosystems in most countries of Latin America. Meg’s journey to the Amazon began in a backyard creek where she spent summers chasing bullfrogs. Her love of nature led her to pursue a career in conservation and, ultimately, to the Amazon. While earning her Ph.D., she conducted the first long-term field study of the black spider monkey in the Peruvian Amazon. More than two years in “beautiful, untouched forest,” she says, made her realize that she wanted to stay focused on Latin America and “conserve the Amazon so it will be there for my grandchildren” 
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="linda-walker"
  >
    <h2>Linda Walker, Senior Director, Corporate Engagement, Forests </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Linda Walker"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Linda heads the corporate program called Forests Forward. Forests Forward advises major companies on leadership actions they can take to sustain global forests for people and nature through implementing responsible forestry and forest-product sourcing practices, supporting landscape-scale efforts such as forest restoration, and advocating for strong forest policies. Prior to WWF, Linda spent more than a decade at The Nature Conservancy, advancing land stewardship and land-protection activities in Washington State and Maryland. Her Masters of Forestry research focused on impacts of the pulp and paper sector in Indonesia. She also worked for Rainforest Alliance as a Forest Stewardship Council® (FSC®) chain-of-custody auditor and currently serves on the board of FSC in the United States. 
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="allard-blom"
  >
    <h2>Allard Blom, Managing Director, Congo Basin</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Alan Blom"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Allard leads WWF’s initiatives in Africa’s Congo Basin, where he has extensive experience working with local communities. As managing director for the Congo Basin, he provides technical support for programs and helps maintain donor relations. In addition, he raises funds and collaborates with partners and stakeholders to conserve nature and manage protected areas and associated landscapes. 
        </p>
        <p>
          Allard has two decades of experience working in Africa. In 1993, he joined WWF-US to manage its program in Dzanga-Sangha—now a UNESCO World Heritage site in the Central African Republic (CAR)—and serve as WWF’s country director for CAR. While there, he initiated a long-term sustainable funding strategy. It included a trinational conservation trust fund and a successful gorilla habituation program where tourists can visit the elusive western lowland gorillas in their natural habitat accompanied by local Ba’Aka people. Allard continues to be involved in Dzanga-Sangha, working to establish a foundation to manage this unique protected area. 
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="annika-terrana"
  >
    <h2>Annika Terrana, Director, Forests </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Annika Terrana"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          In her current role as director for forests at WWF, Annika works to advance long-term forest conservation at landscape scales, particularly through systems-based, cross-sectoral approaches, including at the intersection of forests and human health. She also acts as a technical expert for WWF on a variety of topics, encompassing improved standards for forest management; forest governance; and the co-benefits that come with healthy, resilient ecosystems. In addition, Annika spearheads the WWF Forests and Health initiative in partnership with the world’s largest health-care company, Johnson & Johnson, among others. The initiative aims to document how deforestation can undermine human health and economies and how we can improve efforts to curb future disease outbreaks. Annika has also contributed extensively to WWF’s pandemic response, particularly as it relates to deforestation and degradation, creating a strategy to stop zoonotic disease spillovers at their source as part of a cross-organizational team. 
        </p>
      </div>
    </div>
  </div> -->
    <div
      class="my-24 mb-6 flex flex-col justify-between space-y-4"
      id="julie-miller"
    >
      <h2>
        Julie Miller, Executive Vice President, Philanthropic Partnerships and
        Board Relations
      </h2>
      <div class="">
        <img
          src=""
          alt="A headshot of Julie Miller"
          class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
        />
        <div class="[&>p]:mb-4">
          <p>
            Julie leads WWF’s Development program, overseeing private
            fundraising efforts that provide support for WWF’s conservation
            initiatives around the world. Miller also oversees the management of
            WWF’s Board of Directors and National Council. Prior to joining WWF,
            Julie spent 10 years building and managing The World Bureau, a
            research and information product development business. Earlier in
            her career, she was a vice president in the commercial lending
            division of First American Bank of Washington. Outside of WWF, Julie
            has provided her considerable governance and advancement expertise
            to several nonprofit boards. She currently serves on the Protestant
            Episcopal Cathedral Foundation Board, which governs the Washington
            National Cathedral and the three Cathedral schools. She also chaired
            the governing boards of the St. Albans and Beauvoir Schools. Julie
            holds a BS from the University of Kansas and an MBA from the George
            Washington University. She completed an executive management program
            at the University of Pennsylvania’s Wharton School of Business.
          </p>
        </div>
      </div>
    </div>
    <div
      class="my-24 mb-6 flex flex-col justify-between space-y-4"
      id="ariana-bowman"
    >
      <h2>Ariana Bowman, Gift Planning</h2>
      <div class="">
        <img
          src=""
          alt="A headshot of Ariana Bowman"
          class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
        />
        <div class="[&>p]:mb-4">
          <p></p>
        </div>
      </div>
    </div>
    <div
      class="my-24 mb-6 flex flex-col justify-between space-y-4"
      id="karl-egloff"
    >
      <h2>Karl Egloff, Director, Conservation Travel</h2>
      <div class="">
        <img
          src=""
          alt="A headshot of Karl Egloff"
          class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
        />
        <div class="[&>p]:mb-4">
          <p>
            Karl oversees WWF’s donor travel program and manages its close
            relationship with Natural Habitat Adventures to collaborate on
            marketing and operating wildlife and nature-focused adventures for
            its supporters. In addition, he assists WWF and its partners on
            sustainable tourism programs and initiatives to better engage the
            travel industry. Karl grew up in Alaska before attending Montana
            State University and later started his career guiding and managing
            travel programs around the world. After settling in the Washington
            D.C. area, he received a Masters of Tourism Administration with a
            focus in sustainable tourism from The George Washington University.
            As a nature lover, Karl is thrilled to help travelers plan visits to
            remarkable destinations around the world, and he takes pride in
            creating meaningful experiences that further WWF’s mission.
          </p>
        </div>
      </div>
    </div>
    <div
      class="my-24 mb-6 flex flex-col justify-between space-y-4"
      id="johan-bergenas"
    >
      <h2>Johan Bergenas, Senior Vice President, Oceans</h2>
      <div class="">
        <img
          src=""
          alt="A headshot of Johan Bergenas"
          class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
        />
        <div class="[&>p]:mb-4">
          <p>
            Johan leads a diverse team and global programming cutting across
            ocean health, climate resilience, and environmental security
            focusing on delivering results for the planet, people, prosperity,
            and peace. Johan represents his team and develops global solutions
            with the United Nations and other multilateral organizations, the
            private sector, and partner civil society groups. Prior to joining
            WWF, Johan worked for Paul Allen’s Vulcan, representing the
            organization in Washington, DC, and working globally to develop,
            launch, and scale science and technology programs. Johan has
            co-founded and served as CEO of a technology start-up and he has
            also led programming at the intersection of the environment,
            national security, and technology at the Stimson Center and the
            Monterey Institute. Johan holds a bachelor’s degree from the
            University of Iowa and a master’s degree from Georgetown University.
            He lives in Washington, DC, with his wife, two children, and two
            rescue cats from the streets of Abu Dhabi.
          </p>
        </div>
      </div>
    </div>
    <div
      class="my-24 mb-6 flex flex-col justify-between space-y-4"
      id="sarah-glaser"
    >
      <h2>Sarah Glaser, Senior Director, Oceans Futures</h2>
      <div class="">
        <img
          src=""
          alt="A headshot of Sarah Glaser"
          class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
        />
        <div class="[&>p]:mb-4">
          <p>
            Sarah leads the newly formed Oceans Futures team for which she is
            developing programming around ocean and climate security. The Oceans
            Futures technology platform will engage maritime stakeholders around
            the security implications of climate change for marine ecosystems.
            She is interested in exploring—and preventing—conflict between
            marine resource users where it will be most likely or most
            impactful. Sarah was raised in Kansas but fell in love with sharks
            through the books and TV series of Jacques Cousteau. She earned her
            PhD from Scripps Institution of Oceanography where she studied the
            food web ecology of North Pacific albacore, racking up hundreds of
            (seasick) hours aboard commercial and recreational fishing vessels.
          </p>
        </div>
      </div>
    </div>
    <div
      class="my-24 mb-6 flex flex-col justify-between space-y-4"
      id="kyle-newman"
    >
      <h2>Kyle Newman, Community Partnership Leader, WWF Arctic Program</h2>
      <div class="">
        <img
          src=""
          alt="A headshot of Kyle Newman"
          class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
        />
        <div class="[&>p]:mb-4">
          <p>
            Kyle “Cingliaq” Newman was born and raised in rural Alaska; he is of
            German and Yup’ik descent and currently lives in Anchorage, AK where
            he serves as the Community Partnership Leader for the WWF Arctic
            Program. He holds a BS from Southern Oregon University and a
            Master’s from the University of Alaska Anchorage. Kyle comes to the
            conservation space with a background in public health and he has
            spent his career working with local communities and Indigenous
            peoples across the Arctic. More importantly, he is the proud parent
            of two elementary school aged kids that keep him busy and constantly
            remind him how terrible his “dad jokes” are.
          </p>
        </div>
      </div>
    </div>
    <div
      class="my-24 mb-6 flex flex-col justify-between space-y-4"
      id="alexis-will"
    >
      <h2>Dr. Alexis Will, Marine Biologist, WWF-US Arctic Program</h2>
      <div class="">
        <img
          src=""
          alt="A headshot of Alexis Will"
          class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
        />
        <div class="[&>p]:mb-4">
          <p>
            Alexis was born and raised in Sitka, Alaska, where she fell in love
            with the ocean. That love led her to become a seabird ecological
            physiologist and, eventually, earn a PhD from the University of
            Alaska Fairbanks. At WWF she is working on building a research
            program for the US Arctic to support wildlife monitoring and
            area-based conservation work. She also collaborates with partners on
            non-regulatory approaches to establish conservation measures.
          </p>
        </div>
      </div>
    </div>
    <div
      class="my-24 mb-6 flex flex-col justify-between space-y-4"
      id="delbert-pungowiy"
    >
      <h2>
        Delbert Pungowiy, Alaska Tribal Leader (Sivungaq, Sivuqaq /St. Lawrence
        Island)
      </h2>
      <div class="">
        <img
          src=""
          alt="A headshot of Delbert Pungowiy"
          class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
        />
        <div class="[&>p]:mb-4">
          <p>
            Delbert is widely recognized as a fierce advocate for his people. He
            is Siberian Yupik from Sivuqaq, or St. Lawrence Island, Alaska and
            has traveled the world to speak about the climate crisis that we are
            all facing and to inspire people of all ages, backgrounds, and
            nationalities to work together to address this shared threat.
            Delbert has spent much of his adult life working for his people,
            including serving as both council member and president for the
            Native Village of Savoonga, and currently as his village’s
            representative to the Alaska Community Action on Toxics.
          </p>
        </div>
      </div>
    </div>

    <div
      class="my-24 mb-6 flex flex-col justify-between space-y-4"
      id="megan-onders"
    >
      <h2>
        Megan Onders, Executive Director, Indigenous Peoples Council for Marine
        Mammals
      </h2>
      <div class="">
        <img
          src=""
          alt="A headshot of Megan Onders"
          class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
        />
        <div class="[&>p]:mb-4">
          <p>
            Megan serves as the Executive Director of Indigenous Peoples Council
            for Marine Mammals, an umbrella group of Alaska Native marine mammal
            commissions. She serves as a tribal council member for the King
            Island Native Community and is the village representative for the
            Alaska Federation of Natives Board of Directors. She is a King
            Island dancer and a learner of Ugiuvaŋmiutun, the dialect of the
            King Island community. She served as a legislative assistant for
            Senator Lisa Murkowski in Washington D.C. responsible for policies
            addressing infrastructure & sanitation, housing, health delivery,
            public safety and justice, as well as fish & wildlife management for
            Alaska Natives and rural Alaskans. She was the lead staffer in
            establishing the Senate Arctic Caucus. She holds a Master’s in
            Applied Economics from Johns Hopkins University and a B.S.
            in Economics from George Mason University.
          </p>
        </div>
      </div>
    </div>
    <div
      class="my-24 mb-6 flex flex-col justify-between space-y-4"
      id="will-gartshore"
    >
      <h2>
        Will Gartshore, Senior Director, Policy and Government Affairs, WWF
      </h2>
      <div class="">
        <img
          src=""
          alt="A headshot of Will Gartshore"
          class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
        />
        <div class="[&>p]:mb-4">
          <p>
            Will spearheads WWF’s government affairs strategy and advocacy with
            the U.S. Congress. Will spends much of his time liaising with
            Members of Congress and their staff to educate and inform them about
            WWF’s priority conservation issues and to encourage them to support
            policies and funding decisions that benefit nature and wildlife
            around the globe. Among the legislative accomplishments that Will
            has led for WWF are the passage of the END Wildlife Trafficking Act,
            the creation of the Save Vanishing Species semi-postal stamp, and
            the annual push to protect US government funding for international
            conservation programs. Prior to joining WWF, Will worked as a writer
            for the Energy Future Coalition, as a communications consultant for
            Independent Action PAC and as managing editor of the Greener
            Business Guide to Washington, DC. Will has also spent over 20 years
            as a professional actor and has worked in theaters in DC, New York,
            and around the United States. He graduated summa cum laude with an
            honors B.A. from the University of Maryland, College Park and has an
            advanced acting degree from the American Academy of Dramatic Arts
            (NYC).
          </p>
        </div>
      </div>
    </div>
    <div
      class="my-24 mb-6 flex flex-col justify-between space-y-4"
      id="lauren-herzer-risi"
    >
      <h2>
        Lauren Herzer Risi, Program Director, Environmental Change and Security
        Program, Wilson Center
      </h2>
      <div class="">
        <img
          src=""
          alt="A headshot of Lauren Herzer Risi"
          class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
        />
        <div class="[&>p]:mb-4">
          <p>
            Lauren works with policymakers, practitioners, donors, and
            researchers to generate innovative, transdisciplinary solutions to
            development and security challenges related to environmental change
            and natural resource management. She has authored and edited a
            number of reports, including: 21st Century Diplomacy: Foreign Policy
            is Climate Policy; Navigating Complexity: Climate, Migration, and
            Conflict in a Changing World; After the Disaster: Rebuilding
            Communities; Backdraft: The Conflict Potential of Climate Change
            Adaptation and Mitigation; and Our Shared Future: Environmental
            Pathways to Peace. Lauren is the managing editor of New Security
            Beat. She also served as a Crisis Corps volunteer with the Peace
            Corps and FEMA in New Orleans following Hurricane Katrina. Lauren
            holds a master’s degree in environmental security and peace from the
            UN-mandated University for Peace in Costa Rica.
          </p>
        </div>
      </div>
    </div>
    <div
      class="my-24 mb-6 flex flex-col justify-between space-y-4"
      id="carolyn-weis"
    >
      <h2>
        Carolyn Weis, Program Director, International Conservation Caucus
        Foundation and Oceans Caucus Foundation
      </h2>
      <div class="">
        <img
          src=""
          alt="A headshot of Carolyn Weis"
          class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
        />
        <div class="[&>p]:mb-4">
          <p>
            Carolyn is the current Program Director for the International
            Conservation Caucus Foundation and Oceans Caucus Foundation that
            supports the natural resource management priorities of the
            leadership of the International Conservation Caucus (ICC) and the
            Oceans Caucus (OC) within the U.S. Senate and House of
            Representatives. Carolyn also works extensively on ICCF Conservation
            Council relations by working closely with these partners to
            highlight their conservation development, marine management and
            responsible supply chain initiatives in front of other Conservation
            Council members, the ICC and OC, foreign governments and their
            embassies, and bilateral and multilateral agencies. Carolyn earned a
            B.S. in Biology from Salisbury University and a M.A. in Marine
            Conservation and Policy from Stony Brook University.
          </p>
        </div>
      </div>
    </div>
    <div
      class="my-24 mb-6 flex flex-col justify-between space-y-4"
      id="rebecca-pincus"
    >
      <h2>Rebecca Pincus – Director, Polar Institute, Wilson Center</h2>
      <div class="">
        <img
          src=""
          alt="A headshot of Rebecca Pinus"
          class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
        />
        <div class="[&>p]:mb-4">
          <p>
            Dr. Rebecca Pincus is Director of the Polar Institute at the Wilson
            Center in Washington, DC. Previously, she was on the faculty at the
            US Naval War College, in the Center for Naval Warfare Studies, where
            her research focused on Arctic security and geopolitics. She also
            worked in the Office of the Secretary of Defense for Policy, as
            Arctic and Climate Strategy Advisor. In 2015, she was a Fulbright
            Fellow in Iceland, conducting research on Arctic small states and
            security. Rebecca also worked on polar strategy and policy issues
            for the US Coast Guard, at its Center for Arctic Study and Policy,
            and served on the faculty at the US Coast Guard Academy. She is
            currently a contributing author for the 5th National Climate
            Assessment. She has testified before Congress and the US-China
            Commission on security and defense in the polar regions, and her
            research has been published widely in peer-reviewed and popular
            outlets.
          </p>
        </div>
      </div>
    </div>
    <div
      class="my-24 mb-6 flex flex-col justify-between space-y-4"
      id="ryan-houlihan"
    >
      <h2>Ryan Houlihan – Senior Policy Lead for Plastics, WWF</h2>
      <div class="">
        <img
          src=""
          alt="A headshot of Ryan Houlihan"
          class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
        />
        <div class="[&>p]:mb-4">
          <p>
            Ryan leads WWF’s legislative and policy work to implement equitable
            solutions to plastic pollution, including advocating for an
            ambitious, effective global treaty on plastic pollution, and also
            supports the No Plastics In Nature Initiative. He has over 6 years
            of experience working with the federal government, international
            governments, NGOs, and other stakeholders to implement actionable,
            effective policy. Ryan previously served as Foreign Affairs
            Legislative Assistant for Congressman Dean Phillips and is based in
            Washington, D.C.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
