<section class="container">
  <ul>
    <li><a href="#allard-blom">Allard Blom</a></li>
    <li><a href="#johan-bergenas">Johan Bergenas</a></li>
    <li><a href="#ariana-bowman">Ariana Bowman</a></li>
    <li><a href="#kerry-cesareo">Kerry Cesareo</a></li>
    <li><a href="#karl-egloff">Karl Egloff</a></li>
    <li><a href="#sarah-glaser">Sarah Glaser</a></li>
    <li><a href="#ryan-houlihan">Ryan Houlihan</a></li>
    <li><a href="#macy-rae-kenworthy">Macy Rae Kenworthy</a></li>
    <li><a href="#loren-mayor">Loren Mayor</a></li>  
    <li><a href="#julie-miller">Julie Miller</a></li>
    <li><a href="#kyle-newman">Kyle Newman</a></li>
    <li><a href="#megan-onders">Megan Onders</a></li>
    <li><a href="#rebecca-pincus">Rebecca Pincus</a></li>
    <li><a href="#delbert-pungowiy">Delbert Pungowiy</a></li>
    <li><a href="#meg-symington">Meg Symington</a></li>
    <li><a href="#annika-terrana">Annika Terrana</a>
    </li><li><a href="#lynda-walker">Lynda Walker</a></li>
    <li><a href="#carolyn-weis">Carolyn Weis</a></li>
    <li><a href="#andrew-wiley">Andrew Wiley</a></li>
    <li><a href="#alexis-will">Alexis Will</a></li> 
  </ul>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="loren-mayor"
  >
    <h2>Loren Mayor, Chief Operating Officer</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Loren Mayor"
        class="mb-4 w-[300px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Loren brings immense operational experience with networked
          organizations in the fields of strategy consulting, performing arts,
          and journalism. In her role at WWF, she oversees the operational
          functions, the resource mobilization teams, and strategic
          partnerships. She helps drive the organization’s strategy and improve
          the overall workplace culture, while advancing WWF’s mission with
          external stakeholders.
        </p>
        <p>
          Prior to WWF, Loren was President of Operations at National Public
          Radio (NPR) where she oversaw the full suite of organizational
          operations. In that capacity, Loren led NPR in identifying new
          business opportunities, developing NPR’s strategic plan, and building
          a strong empowering culture.
        </p>
        <p>
          Before NPR, Loren held leadership roles at PBS, The Corporation for
          Public Broadcasting, and worked with clients in the non-profit and
          media sectors during her tenure at McKinsey & Company. Loren has an
          undergraduate degree from the University of Chicago, and a Ph.D. in
          theater from Northwestern University, where she also served as a
          visiting assistant professor.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="andrew-wiley"
  >
    <h2>Andrew Wiley, Director, Partners in Conservation</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Andrew Wiley"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Andrew leads the fundraising strategy and communications plan to involve WWF’s Partners in Conservation community in its global conservation mission. He oversees the strategic direction of   this program to increase the support and engagement of these committed annual donors through mailings, digital platforms, personal correspondence, and in-person events and webinars. He is also responsible for the personal stewardship and cultivation of Partners, and manages the WWF staff who build relationships with those who are closest to the organization. Before joining WWF, Andrew worked in the development offices at the National Council for the Traditional Arts, Washington National Opera, and Common Cause. Originally from St. Paul, Minnesota, Andrew earned a BFA from Syracuse University. In his spare time, he can be found on stage singing lead vocals for DC’s Finest Blues-Fiddle Band, The Roustabouts.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="kerry-cesareo"
  >
    <h2>Kerry Cesareo, Senior Vice President, Forests </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Kerry Cesareo"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Kerry leads a portfolio of strategic initiatives in pursuit of WWF's goal to conserve the world’s most important forests. Kerry previously led WWF's forest markets work, launching the North American program of the Global Forest & Trade Network (GFTN) and forging partnerships with Fortune 500 companies on environmentally responsible supply chains for wood and paper products. She has served as cochair of the board of the Forest Stewardship Council® (FSC®) US, a certifier of forestry best practices that WWF helped found in 1994. Kerry first began working on forest issues partnering with First Nations on Vancouver Island, British Columbia, as they prepared for their inaugural timber harvest through a newly formed company, Iisaak Forest Resources. The creation of Iisaak and its commitment to FSC helped to end decades of conflict among environmentalists, First Nations, and logging companies in Clayoquot Sound. Iisaak received FSC certification in 2001, inspiring Kerry's career.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="meg-symington"
  >
    <h2>Meg Symington, Managing Director, Amazon  </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Meg Symington"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Meg applies more than 25 years of experience to her role at WWF, where she has worked since 1990. Before joining WWF, Meg served as an environmental advisor at the U.S. Agency for International Development. Her experience spans conservation and natural resource management projects for forest and freshwater ecosystems in most countries of Latin America. Meg’s journey to the Amazon began in a backyard creek where she spent summers chasing bullfrogs. Her love of nature led her to pursue a career in conservation and, ultimately, to the Amazon. While earning her Ph.D., she conducted the first long-term field study of the black spider monkey in the Peruvian Amazon. More than two years in “beautiful, untouched forest,” she says, made her realize that she wanted to stay focused on Latin America and “conserve the Amazon so it will be there for my grandchildren” 
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="linda-walker"
  >
    <h2>Linda Walker, Senior Director, Corporate Engagement, Forests </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Linda Walker"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Linda heads the corporate program called Forests Forward. Forests Forward advises major companies on leadership actions they can take to sustain global forests for people and nature through implementing responsible forestry and forest-product sourcing practices, supporting landscape-scale efforts such as forest restoration, and advocating for strong forest policies. Prior to WWF, Linda spent more than a decade at The Nature Conservancy, advancing land stewardship and land-protection activities in Washington State and Maryland. Her Masters of Forestry research focused on impacts of the pulp and paper sector in Indonesia. She also worked for Rainforest Alliance as a Forest Stewardship Council® (FSC®) chain-of-custody auditor and currently serves on the board of FSC in the United States. 
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="allard-blom"
  >
    <h2>Allard Blom, Managing Director, Congo Basin</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Alan Blom"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Allard leads WWF’s initiatives in Africa’s Congo Basin, where he has extensive experience working with local communities. As managing director for the Congo Basin, he provides technical support for programs and helps maintain donor relations. In addition, he raises funds and collaborates with partners and stakeholders to conserve nature and manage protected areas and associated landscapes. 
        </p>
        <p>
          Allard has two decades of experience working in Africa. In 1993, he joined WWF-US to manage its program in Dzanga-Sangha—now a UNESCO World Heritage site in the Central African Republic (CAR)—and serve as WWF’s country director for CAR. While there, he initiated a long-term sustainable funding strategy. It included a trinational conservation trust fund and a successful gorilla habituation program where tourists can visit the elusive western lowland gorillas in their natural habitat accompanied by local Ba’Aka people. Allard continues to be involved in Dzanga-Sangha, working to establish a foundation to manage this unique protected area. 
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="annika-terrana"
  >
    <h2>Annika Terrana, Director, Forests </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Annika Terrana"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          In her current role as director for forests at WWF, Annika works to advance long-term forest conservation at landscape scales, particularly through systems-based, cross-sectoral approaches, including at the intersection of forests and human health. She also acts as a technical expert for WWF on a variety of topics, encompassing improved standards for forest management; forest governance; and the co-benefits that come with healthy, resilient ecosystems. In addition, Annika spearheads the WWF Forests and Health initiative in partnership with the world’s largest health-care company, Johnson & Johnson, among others. The initiative aims to document how deforestation can undermine human health and economies and how we can improve efforts to curb future disease outbreaks. Annika has also contributed extensively to WWF’s pandemic response, particularly as it relates to deforestation and degradation, creating a strategy to stop zoonotic disease spillovers at their source as part of a cross-organizational team. 
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="julie-miller"
  >
    <h2>Julie Miller, Executive Vice President, Philanthropic Partnerships and Board Relations</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Julie Miller"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Julie leads WWF’s Development program, overseeing private fundraising efforts that provide support for WWF’s conservation initiatives around the world. Miller also oversees the management of WWF’s Board of Directors and National Council. Prior to joining WWF, Julie spent 10 years building and managing The World Bureau, a research and information product development business. Earlier in her career, she was a vice president in the commercial lending division of First American Bank of Washington. Outside of WWF, Julie has provided her considerable governance and advancement expertise to several nonprofit boards. She currently serves on the Protestant Episcopal Cathedral Foundation Board, which governs the Washington National Cathedral and the three Cathedral schools. She also chaired the governing boards of the St. Albans and Beauvoir Schools. Julie holds a BS from the University of Kansas and an MBA from the George Washington University. She completed an executive management program at the University of Pennsylvania’s Wharton School of Business. 
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="ariana-bowman"
  >
    <h2>Ariana Bowman, Gift Planning</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Ariana Bowman"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="karl-egloff"
  >
    <h2>Karl Egloff, Director, Conservation Travel </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Karl Egloff"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Karl oversees WWF’s donor travel program and manages its close relationship with Natural Habitat Adventures to collaborate on marketing and operating wildlife and nature-focused adventures for its supporters. In addition, he assists WWF and its partners on sustainable tourism programs and initiatives to better engage the travel industry. Karl grew up in Alaska before attending Montana State University and later started his career guiding and managing travel programs around the world. After settling in the Washington D.C. area, he received a Masters of Tourism Administration with a focus in sustainable tourism from The George Washington University. As a nature lover, Karl is thrilled to help travelers plan visits to remarkable destinations around the world, and he takes pride in creating meaningful experiences that further WWF’s mission. 
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="johan-bergenas"
  >
    <h2>Johan Bergenas, Senior Vice President, Oceans  </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Johan Bergenas"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Johan leads a diverse team and global programming cutting across ocean health, climate resilience, and environmental security focusing on delivering results for the planet, people, prosperity, and peace. Johan represents his team and develops global solutions with the United Nations and other multilateral organizations, the private sector, and partner civil society groups. Prior to joining WWF, Johan worked for Paul Allen’s Vulcan, representing the organization in Washington, DC, and working globally to develop, launch, and scale science and technology programs. Johan has co-founded and served as CEO of a technology start-up and he has also led programming at the intersection of the environment, national security, and technology at the Stimson Center and the Monterey Institute. Johan holds a bachelor’s degree from the University of Iowa and a master’s degree from Georgetown University. He lives in Washington, DC, with his wife, two children, and two rescue cats from the streets of Abu Dhabi. 
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="sarah-glaser"
  >
    <h2>Sarah Glaser, Senior Director, Oceans Futures</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Sarah Glaser"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Sarah leads the newly formed Oceans Futures team for which she is developing programming around ocean and climate security. The Oceans Futures technology platform will engage maritime stakeholders around the security implications of climate change for marine ecosystems. She is interested in exploring—and preventing—conflict between marine resource users where it will be most likely or most impactful. Sarah was raised in Kansas but fell in love with sharks through the books and TV series of Jacques Cousteau. She earned her PhD from Scripps Institution of Oceanography where she studied the food web ecology of North Pacific albacore, racking up hundreds of (seasick) hours aboard commercial and recreational fishing vessels.  
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="kyle-newman"
  >
    <h2>Kyle Newman, Community Partnership Leader, WWF Arctic Program </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Kyle Newman"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Kyle “Cingliaq” Newman was born and raised in rural Alaska; he is of German and Yup’ik descent and currently lives in Anchorage, AK where he serves as the Community Partnership Leader for the WWF Arctic Program. He holds a BS from Southern Oregon University and a Master’s from the University of Alaska Anchorage. Kyle comes to the conservation space with a background in public health and he has spent his career working with local communities and Indigenous peoples across the Arctic. More importantly, he is the proud parent of two elementary school aged kids that keep him busy and constantly remind him how terrible his “dad jokes” are. 
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="alexis-will"
  >
    <h2>Dr. Alexis Will, Marine Biologist, WWF-US Arctic Program </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Alexis Will"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Alexis was born and raised in Sitka, Alaska, where she fell in love with the ocean. That love led her to become a seabird ecological physiologist and, eventually, earn a PhD from the University of Alaska Fairbanks. At WWF she is working on building a research program for the US Arctic to support wildlife monitoring and area-based conservation work. She also collaborates with partners on non-regulatory approaches to establish conservation measures. 
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="delbert-pungowiy"
  >
    <h2>Delbert Pungowiy, Alaska Tribal Leader (Sivungaq, Sivuqaq /St. Lawrence Island) </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Delbert Pungowiy"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Delbert is widely recognized as a fierce advocate for his people. He is Siberian Yupik from Sivuqaq, or St. Lawrence Island, Alaska and has traveled the world to speak about the climate crisis that we are all facing and to inspire people of all ages, backgrounds, and nationalities to work together to address this shared threat. Delbert has spent much of his adult life working for his people, including serving as both council member and president for the Native Village of Savoonga, and currently as his village’s representative to the Alaska Community Action on Toxics. 
        </p>
      </div>
    </div>
  </div>
  
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="megan-onders"
  >
    <h2>Megan Onders, Executive Director, Indigenous Peoples Council for Marine Mammals </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Megan Onders"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Megan serves as the Executive Director of Indigenous Peoples Council for Marine Mammals, an umbrella group of Alaska Native marine mammal commissions. She serves as a tribal council member for the King Island Native Community and is the village representative for the Alaska Federation of Natives Board of Directors. She is a King Island dancer and a learner of Ugiuvaŋmiutun, the dialect of the King Island community.  She served as a legislative assistant for Senator Lisa Murkowski in Washington D.C. responsible for policies addressing infrastructure & sanitation, housing, health delivery, public safety and justice, as well as fish & wildlife management for Alaska Natives and rural Alaskans. She was the lead staffer in establishing the Senate Arctic Caucus. She holds a Master’s in Applied Economics from Johns Hopkins University and a B.S. in Economics from George Mason University. 
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="carolyn-weis"
  >
    <h2>Carolyn Weis – Program Director, International Conservation Caucus Foundation</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Carolyn Weis"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Carolyn is the current Program Director for the International Conservation Caucus Foundation and Oceans Caucus Foundation that supports the natural resource management priorities of the leadership of the International Conservation Caucus (ICC) and the Oceans Caucus (OC) within the U.S. Senate and House of Representatives. Carolyn also works extensively on ICCF Conservation Council relations by working closely with these partners to highlight their conservation development, marine management and responsible supply chain initiatives in front of other Conservation Council members, the ICC and OC, foreign governments and their embassies, and bilateral and multilateral agencies. Carolyn earned a B.S. in Biology from Salisbury University and a M.A. in Marine Conservation and Policy from Stony Brook University. 
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="rebecca-pincus"
  >
    <h2>Rebecca Pincus – Director, Polar Institute, Wilson Center </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Rebecca Pinus"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Dr. Rebecca Pincus is Director of the Polar Institute at the Wilson Center in Washington, DC. Previously, she was on the faculty at the US Naval War College, in the Center for Naval Warfare Studies, where her research focused on Arctic security and geopolitics. She also worked in the Office of the Secretary of Defense for Policy, as Arctic and Climate Strategy Advisor. In 2015, she was a Fulbright Fellow in Iceland, conducting research on Arctic small states and security. Rebecca also worked on polar strategy and policy issues for the US Coast Guard, at its Center for Arctic Study and Policy, and served on the faculty at the US Coast Guard Academy. She is currently a contributing author for the 5th National Climate Assessment. She has testified before Congress and the US-China Commission on security and defense in the polar regions, and her research has been published widely in peer-reviewed and popular outlets. 
        </p>
      </div>
    </div>
  </div>
  <div
  class="my-24 mb-6 flex flex-col justify-between space-y-4"
  id="ryan-houlihan"
>
  <h2>Ryan Houlihan – Senior Policy Lead for Plastics, WWF</h2>
  <div class="">
    <img
      src=""
      alt="A headshot of Ryan Houlihan"
      class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
    />
    <div class="[&>p]:mb-4">
      <p>
        Ryan leads WWF’s legislative and policy work to implement equitable solutions to plastic pollution, including advocating for an ambitious, effective global treaty on plastic pollution, and also supports the No Plastics In Nature Initiative. He has over 6 years of experience working with the federal government, international governments, NGOs, and other stakeholders to implement actionable, effective policy. Ryan previously served as Foreign Affairs Legislative Assistant for Congressman Dean Phillips and is based in Washington, D.C.  
      </p>
    </div>
  </div>
</div>
</section>
