<section class="container">
  <ul>
    <li><a href="#danielle-artis">Danielle Artis</a></li>
    <li><a href="#james-darius-ball">James Darius Ball</a></li>
    <li><a href="#karl-egloff">Karl Egloff</a></li>
    <li><a href="#katy-fenn">Katy Fenn</a></li>
    <li><a href="#megan-franci">Megan Franci</a></li>
    <li><a href="#evan-freund">Evan Freund</a></li>
    <li><a href="#leigh-henry">Leigh Henry</a></li>
    <li><a href="#nilanga-jayasinghe">Nilanga Jayasinghe</a></li>
    <li><a href="#nelly-kadagi">Dr. Nelly Kadagi</a></li>
    <li><a href="#debra-kathman">Debra Kathman</a></li>
    <li><a href="#jessica-leung">Jessica Leung</a></li>
    <li><a href="#sammi-lin">Sammi Lin</a></li>
    <li><a href="#loren-mayor">Loren Mayor</a></li>
    <li><a href="#julie-miller">Julie S. Miller</a></li>
    <li><a href="#robin-naidoo">Dr. Robin Naidoo</a></li>
    <li><a href="#kyle-newman">Kyle Newman</a></li>
    <li><a href="#alex-nicholas-vinueza">Alex Nichols-Vinueza</a></li>
    <li><a href="#carter-roberts">Carter Roberts</a></li>
    <li><a href="#niccola-somers">Niccola Somers</a></li>
    <li><a href="#peter-umunay">Peter Umunay</a></li>
    <li><a href="#antia-van-breda">Anita van Breda</a></li>
    <li><a href="#andrew-wiley">Andrew Wiley</a></li>
    <li><a href="#katie-zdilla">Katie Zdilla</a></li>
  </ul>
  <!-- hi -->
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="andrew-willey"
  >
    <h2>Andrew Wiley, Director, Partners in Conservation, WWF-US</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Andrew Willey"
        class="mb-4 w-[300px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Andrew leads the fundraising strategy and communications plan to
          connect WWF's Partners in Conservation community with its global
          conservation mission. He oversees the strategic direction of this
          program to increase the support and engagement of these committed
          annual donors through mailings, digital platforms, personal
          correspondence, and in-person events and webinars. He is also
          responsible for the personal stewardship and meaningful cultivation of
          Partners, and manages the WWF staff who build relationships with
          select conservation-minded donors who are closest to the organization.
          Andrew is a member of the Director Marketing Fundraisers Association's
          board of directors, and is a convenor and co-facilitator of its
          Mid-Level Giving Summit. Before joining WWF in 2009, Andrew worked in
          the development offices at the National Council for the Traditional
          Arts, Washington National Opera, and Common Cause. Originally from St.
          Paul, Minnesota, Andrew earned a BFA from Syracuse University. In his
          spare time, he can be found on stage singing lead vocals for DC's
          Finest Blues-Fiddle Band, The Roustabouts.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="julie-miller"
  >
    <h2>
      Julie S. Miller, Executive Vice President, Philanthropic Partnerships and
      Board Relations, WWF-US
    </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Jullie S. Miller"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Julie leads WWF’s private fundraising efforts, providing critical
          support to its conservation initiatives around the world.
          Additionally, she also offers strategic management to the WWF-US Board
          of Directors and National Council and has been instrumental in the
          establishment of multi-stakeholder partnerships to achieve
          conservation at-scale.
        </p>
        <p>
          Julie joined WWF in 2008 with over 25 years of relationship management
          and governance experience. During her professional career she has
          developed and managed The World Bureau, a research and information
          product development firm, and was also Group Vice President of
          Commercial Lending at the First American Bank of Washington.
        </p>
        <p>
          Julie has brought her considerable governance and advancement
          expertise to several nonprofit boards. She is an alumna of the
          University of Kansas and the George Washington University and has also
          completed an executive management program at the University of
          Pennsylvania’s Wharton School of Business.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="carter-roberts"
  >
    <h2>Carter Roberts, President and CEO, WWF-US</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Carter Roberts"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Carter Roberts has served as President and CEO of World Wildlife Fund
          in the United States since 2000. During that time, he's built a
          wide-reaching program on corporate sustainability, pioneered
          performance-based financial instruments for national protected area
          systems, and helped reverse the decline in tiger, rhino, and elephant
          populations in key parts of the world. As founding chair of Enduring
          Earth, Carter helped create a partnership with other NGOs and
          investors to strengthen the conservation of over a billion hectares of
          land. He founded Boundless Conservation Fellowship, a network of next
          generation conservation leaders and leading specialists key to
          conserving the whole of landscapes and seascapes. His work extends to
          WWF Impact, which invests in entrepreneurs developing innovative
          technologies to food systems challenges through sustainable practices
          in seaweed cultivation, food waste reduction, and regenerative
          agriculture. Carter has learned the calls of all the birds in North
          America. He serves on the boards of the Nicholas Institute at Duke
          University and the Grantham Institute for Climate Change. He holds an
          MBA from Harvard Business School and a BA from Princeton University.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="nelly-kadagi"
  >
    <h2>
      Dr. Nelly Kadagi, Director, Conservation Leadership and Russell E Train
      Education for Nature Program, WWF-US
    </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Dr. Nelly Kadagi"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Nelly oversees and manages WWF’s strategy for conservation capacity
          development and leadership. Originally from Kenya, Nelly brings a
          wealth of expertise to WWF, spanning scientific program development,
          marine conservation support, fundraising, and designing
          capacity-building initiatives in Africa and North America. In her
          role, Nelly helps to ensure conservation leaders have access to the
          education and resources needed to address global environmental
          challenges.
        </p>
        <p>
          Previously, Nelly worked as a postdoctoral research fellow at the
          University of Denver and One Earth Future–Secure Fisheries. . Nelly
          also served as the Director of Research for the African Billfish
          Foundation where she championed billfish research across the Western
          Indian Ocean.
        </p>
        <p>
          In addition to now leading the EFN program, Nelly is an EFN alumna.
          She received a Russell E. Train Fellowship in 2015 that supported her
          PhD studies while at the University of Florida. She is also a
          Schlumberger Faculty for the Future Fellow, a New England Aquarium
          Marine Conservation and Action Fund Fellow, and a recipient of the
          Conservation Leadership Program Award.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="peter-umunay"
  >
    <h2>
      Dr. Peter Umunay, Senior Environmental Specialist, Global Environment
      Facility (GEF)
    </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Dr. Peter Umunay"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Peter is an EFN alumni who received a Russell E. Train Fellowship to
          pursue his PhD in 2015. Peter is now the Global Thematic Lead for Food
          Systems and Land Use at the GEF. He manages Agri-food system programs
          and provides strategic oversight over seven GEF Integrated Programs
          (IPs), leading a team of IP leads and technical experts, ensuring the
          seamless integration of programming efforts, knowledge sharing, and
          learning activities. His work supports GEF's mission to deliver global
          environmental benefits across multiple focal areas (biodiversity,
          climate change, land degradation and pollution).
        </p>
        <p>
          Peter brings over 15 years of experience working with international
          organizations—including the Wildlife Conservation Society, The Forests
          Dialogue, UNEP-WCMC, UNEP, and Winrock International—as well as with
          academic institutions, research organizations, and government
          agencies. Peter has over 30 scientific publications and works in
          collaboration with scientists across the world in the areas of the
          forest-climate nexus. He holds a BSc from Kisangani University (DRC),
          and MSc and PhD from the Yale School of Forestry and Environmental
          Studies
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="katie-zdilla"
  >
    <h2>
      Katie Zdilla, Senior Director of Durable Conservation and Finance, WWF-US
    </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Katie Zdilla"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Katie is the Senior Director of Durable Conservation and Finance and
          works to catalyze long-term, sustainable financing for large-scale
          conservation areas. She leads the development of emerging <a
            href="https://www.worldwildlife.org/initiatives/earth-for-life"
            >Project Finance for Permanence</a
          > opportunities for WWF with Enduring Earth and drives protected and conserved
          area innovation and research in areas where WWF can make strategic investments
          for outsized impact. This includes collaborating to ensure protected and
          conserved areas are more inclusive, resilient, and durable. Katie has a
          Master’s in Sustainable Development and Conservation Biology and a Bachelor’s
          in Biology with a minor in Environmental Studies. Outside of her formal
          education, she has additional training from the Organization for Tropical
          Studies and the University of The Gambia. A native of the DC metro area,
          she grew up volunteering at the National Zoo where she first built relationships
          with some of the species that she now works to protect.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="debra-kathman"
  >
    <h2>Debra Kathman, Senior Director of Gift Planning, WWF-US</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Debra Kathman"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Debra is the Senior Director of Gift Planning. She oversees a staff of
          9, with the gift planning effort here at WWF responsible for
          marketing, soliciting and closing current planned gifts, as well as
          working with attorneys and executors to ensure WWF receives realized
          bequest gifts promptly. During her tenure at WWF, the gift planning
          effort has grown considerably, more than doubling marketing inquiries,
          Legacy Circle membership and bequest income, which is now the largest
          source of unrestricted income to WWF. Debra began her career as a
          trust and estates attorney before transitioning to fundraising. Before
          joining WWF in 2016, Debra worked in similar roles at organizations
          such as the American Diabetes Association, the American Red Cross and
          the National Wildlife Federation.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="karl-egloff"
  >
    <h2>
      Karl Egloff, Director, Travel, Tourism & Conservation Program, WWF-US
    </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Karl Egloff"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          For over 10 years, Karl has been the Director of WWF’s Travel, Tourism
          & Conservation Program. He oversees WWF’s close relationship with
          Natural Habitat Adventures to collaborate on marketing and operating
          nature-focused travel programs for WWF supporters. He grew up in
          Alaska before attending Montana State University and later started his
          career guiding and managing travel programs around the world. After
          settling in the Washington DC area, he received a Master of Tourism
          Administration from The George Washington University.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="leigh-henry"
  >
    <h2>
      Leigh Henry, Director, Wildlife Policy, Wildlife Conservation, WWF-US
    </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Leigh Henry"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Leigh is a conservationist and policy expert guided by a lifelong love
          for wildlife and wild places and a desire to preserve them for future
          generations. Leigh started her career working for famed oceanographer
          Jacques Cousteau, where she was inspired to pursue a degree in
          environmental law to further her work in international wildlife
          conservation. Since joining WWF in 2001, Leigh has played a key role
          in efforts to combat wildlife crime and was a core member of the WWF’s
          Stop Wildlife Crime campaign, which secured unprecedented global and
          US leadership to end poaching and illegal wildlife trade. In her
          current role, Leigh leads WWF’s jaguar conservation program, is a
          member of the global tiger conservation team supporting efforts to
          stop illegal tiger trade, and leads WWF’s whale conservation efforts.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="robin-naidoo"
  >
    <h2>Robin Naidoo, Lead Scientist for Wildlife Conservation, WWF-US</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Robin Naidoo"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Dr. Robin Naidoo is an internationally recognized applied scholar who
          investigates the ecological and economic issues that impact wildlife
          conservation. His work, from mapping ecosystem services to monitoring
          animal migrations, places nature at the center of sustainable
          development and helps support a future where species and people
          coexist.
        </p>
        <p>
          Robin's current research is largely focused on understanding the
          interaction between biodiversity and people, particularly in
          field-based contexts in Africa. In southern Africa's Kavango-Zambezi
          transfrontier conservation area, Robin has used satellite collars to
          document a migration of Burchell’s Zebra across Namibia and Botswana,
          highlighting the importance of transboundary conservation in this
          region. He also works on the movement ecology and migratory behavior
          of other species in this region, including elephants and African
          buffalo. He holds an interdisciplinary PhD in conservation biology and
          environmental economics and is an Adjunct Professor at the University
          of British Columbia and the University of Vermont.
        </p>
      </div>
    </div>
  </div>

  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="megan-franci"
  >
    <h2>Megan Franci, Gift Planning Specialist, WWF-US</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Megan Franci"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          In her role as Gift Planning Specialist, Megan supports WWF’s
          expanding gift planning program by developing and coordinating
          stewardship efforts for Legacy Circle members. She also serves as the
          main contact for the administration and management of WWF’s life
          income gifts program. Prior to WWF, Megan worked as an international
          teacher in Honduras, Thailand, and Italy, where she discovered a
          passion for education shaped by diverse cultures and educational
          systems and the joy of connecting with students around the world.
          Megan holds a bachelor's in marketing from Tulane University and a
          master’s in international development from Concordia
          University-Portland.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="danielle-artis"
  >
    <h2>
      Danielle Artis, Philanthropy Manager, Partners in Conservation, WWF-US
    </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Danielle Artis"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Danielle is a passionate leader with over a decade of experience in
          philanthropic efforts. As the Philanthropy Manager for the Partners in
          Conservation program at WWF, she has been instrumental in advancing
          donor relations and strategic fundraising to safeguard vital
          ecosystems. Since joining WWF in 2017, Danielle has progressed through
          key roles, demonstrating her expertise in relationship management and
          resource development. Her prior experience includes nearly seven years
          at The Washington Center, where she forged strong partnerships, led
          business development, and managed alumni relations. Danielle holds a
          master’s in public administration from American University, a BA in
          history from Arizona State University, and completed the Institute for
          Leaders in Development program at the University of Denver. She
          actively contributes to the nonprofit sector, supporting various
          mission-driven initiatives, including her work with the Association of
          Fundraising Professionals, Council of Planned Giving Professionals,
          Animal Protection Association of Missouri, and earthday365 which
          supports the largest Earth Day Festival in the Midwest.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="niccola-somers"
  >
    <h2>
      Niccola Somers, Senior Specialist, Boundless Fellowship Program, WWF-US
    </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Niccola Somers"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          As Senior Specialist at WWF, Niccola works on the Boundless
          Conservation Fellowship. As one of the fellowship’s founding team
          members, she has seen the program through from its inception to
          implementation. Prior to WWF, Niccola spent the last decade in South
          America, living first in French Guiana and then Brazil. She completed
          her master’s in international relations at the Universidade Federal da
          Bahia in Salvador, Brazil, where she conducted research on human
          migration and illegal goldmining in the Amazon. In addition to her
          work at WWF, Niccola continues to teach English as a second language
          to international professionals, and in the summers, she volunteers on
          trail building projects along the Ice Age Trail in her home state of
          Wisconsin.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="katy-fenn"
  >
    <h2>Katy Fenn, Director, Brand Engagement and Education, WWF-US</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Katy Fenn"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Katy Fenn is a member of WWF’s Marketing and Outreach team and has
          worked for WWF for almost 20 years. In her current role, she works to
          raise the profile of WWF’s brand and connect it to the organization’s
          conservation priorities. She does this by leading WWF’s Public Service
          Announcement campaigns, managing the strategic development and
          implementation of a variety of integrated marketing and communication
          initiatives, and running WWF’s yearly brand research. In 2017, she
          designed and launched Wild Classroom, an education program that aims
          to make conservation more relatable to young learners. Over the last
          eight years, Katy and her team have created resources to help
          educators increase the environmental literacy of youth and inspire
          them to drive change towards a sustainable future. Katy holds a degree
          in communication with a specialization in public relations and
          business from Michigan State University.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="jessica-leung"
  >
    <h2>Jessica Leung, Director, Belonging and Employee Experience, WWF-US</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Delbert Pungowiy"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          As Director of Belonging and Employee Experience at WWF, Jessica
          oversees the organization’s strategic and programmatic initiatives to
          inspire and attract the next generation of conservation and
          environmental professionals. Jessica collaborates with stakeholders
          within business operations and scientific program teams, advising and
          leading teams on initiatives that recruit and support early career
          talent. Major initiatives include leading WWF’s BRIDGE paid internship
          program and managing partnerships with organizations such as the
          Smithsonian Institution. Jessica previously worked in the nonprofit
          and private sectors with technical expertise in decarbonizing the
          electricity, thermal energy, transportation, and buildings sectors.
          She assisted companies and government entities striving to reduce
          their environmental impact and convened stakeholders with policymakers
          to advance emissions reduction actions. Jessica earned a bachelor’s in
          managerial economics from the University of California, Davis and a
          master’s in environmental management from the Yale School of the
          Environment.
        </p>
      </div>
    </div>
  </div>

  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="sammi-lin"
  >
    <h2>
      Sammi Lin, Program Associate, Policy and US Government Affairs, WWF-US
    </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Sammi Lin"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          In her role at WWF, Sammi works to build and strengthen relationships
          with federal and state governments and advocates for ambitious
          legislation to address WWF's policy priorities. She also supports the
          team in tracking and pursuing US government funding opportunities to
          advance conservation around the world. She is a 2023 BRIDGE intern,
          where she worked with the Northern Great Plains team to assess how
          federal conservation payment programs can be made more accessible and
          equitable for Native ranchers. Before joining WWF, she worked with
          Cornell Cooperative Extension, EDF, and other NGOs and startups in
          Mexico, Ecuador, Vietnam, and South Africa supporting small-scale,
          BIPOC farmers and fishers. Originally from Queens, NYC, in her free
          time, she enjoys testing out new recipes, reading, studying languages,
          and exploring the many green spaces in DC.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="alex-nichols-venueza"
  >
    <h2>Alex Nichols-Vinueza, Director, Food Loss & Waste, WWF-US</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Alex Nichols-Vinueza"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Alex supports the US Food Waste team’s portfolio of projects,
          including work with the agricultural, grocery retail, hospitality, and
          food service sectors. This includes the Global Farm Loss Tool, the
          Food Waste Warrior program (which empowers students to reduce their
          school food waste); the Zero Food Waste Coalition (which advances
          policies to develop a more circular food economy and mitigate climate
          change); and the US Food Waste Pact (which accelerates businesses’
          progress toward their waste reduction targets). Alex brings over 15
          years of project and partnership management experience across tech,
          government, and sustainability consulting in the US and Latin America.
          He is bilingual in Spanish and English and holds a BA from the
          University of Michigan and an MEM from Duke’s Nicholas School of the
          Environment. Alex hails from Traverse City in northern Michigan, where
          he grew up camping, spending summers in the area’s many parks and
          lakes, and working on local farms.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="loren-mayor"
  >
    <h2>Loren Mayor, Chief Operating Officer, WWF-US</h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Lauren Herzer Risi"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          As Chief Operating Officer of World Wildlife Fund (WWF-US), Loren
          Mayor drives the organization’s strategy to create a world where
          people and nature live in harmony. She oversees strategic
          partnerships, operational functions, and resource mobilization teams
          while strengthening workplace culture and advancing WWF’s mission with
          external stakeholders.
        </p>
        <p>
          Prior to WWF, Loren was President of Operations at National Public
          Radio (NPR) where she oversaw the full suite of organizational
          operations and identified new business opportunities, developing NPR’s
          strategic plan, and building a strong empowering culture. Before NPR,
          Loren held leadership roles at PBS, The Corporation for Public
          Broadcasting, and worked with clients in the non-profit and media
          sectors during her tenure at McKinsey & Company. Loren has an
          undergraduate degree from the University of Chicago, and a Ph.D. in
          theater from Northwestern University, where she also served as a
          visiting assistant professor.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="james-darius-ball"
  >
    <h2>
      James Darius Ball, Director of Future Cities, National Building Museum
    </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of James Darius Ball"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          James Darius Ball is the Director of Future Cities at the National
          Building Museum, where he leads a multi-year, interdisciplinary
          initiative to center the US city as hub, catalyst, essential building
          block of society. With a background in sustainable development,
          building science, and community engagement, James brings a
          cross-disciplinary approach to questions of urban identity and
          possibility. Under his leadership, Future Cities convenes exhibitions,
          programs, and storytelling projects that invite communities—from
          residents to industry leaders—to imagine cities not just as places we
          live, but as expressions of who we are and what we value. Prior to
          joining the Museum, James brought his passion for buildings to
          governments, developers, startups, media, and nonprofit organizations
          across the country. His life work is to improve the social, economic,
          and environmental value of our built world.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="kate-newman"
  >
    <h2>
      Kate Newman, Vice President, Sustainable Infrastructure and Public Sector
      Initiatives, WWF-US
    </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Kate Newman"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          As WWF’s vice president for sustainable infrastructure and public
          sector initiatives, Kate specializes in policy development and
          conservation planning in support of nature-positive infrastructure.
          For over 30 years with WWF, Kate has worked with colleagues around the
          world to integrate conservation science and principles into
          socio-economic development through terrestrial and marine natural
          capital and ecoregion planning, sustainable finance, green economy
          policies, community-based conservation, and protected area management.
          Pre-WWF, she supported civil society organizations in farm-to-market
          road, mini-hydropower, and rural clinic construction with the US
          Agency for International Development in the Democratic Republic of the
          Congo, where she was also a Peace Corps volunteer teacher. Kate
          received a BA in anthropology from the University of Virginia and MSc
          in environmental management from the University of London.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="evan-freund"
  >
    <h2>
      Evan Freund, Sr. Director, Sustainable Infrastructure & Finance, WWF-US
    </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Evan Freund"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Evan is senior director for sustainable infrastructure and finance on
          the WWF-US Forest team. He manages programming around infrastructure
          design, finance, and development, including the five-year <a
            href="https://www.worldwildlife.org/projects/greening-transportation-infrastructure-development-global-platform"
            >Greening Transportation Infrastructure Development</a
          > (GRID) Integrated Program. Funded by the Global Environment Facility,
          GRID focuses on incorporating biodiversity and ecosystem-related considerations
          into transportation infrastructure planning.
        </p>
        <p>
          Prior to joining WWF, Evan managed the Government and Public Sector
          Practice for CiBO Technologies, a venture-backed agricultural
          technology startup. From 2005 to 2017, Evan worked for the US
          government’s Millennium Challenge Corporation (MCC), a bilateral
          foreign aid agency. There, he designed and oversaw investments in
          water supply, sanitation, transportation, and energy systems in Ghana,
          Namibia, Honduras, and Lesotho; served as MCC’s deputy resident
          country director in Maputo, Mozambique; and led MCC’s programs in
          Liberia and the Philippines.
        </p>
        <p>
          Evan holds a master’s degree in city planning from the Massachusetts
          Institute of Technology and a BA from Middlebury College.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="anita-van-breda"
  >
    <h2>
      Anita van Breda, Senior Director, Environment and Disaster Management,
      WWF-US
    </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Anita van Breda"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Anita is Senior Director of Environment and Disaster Management at WWF
          based in Washington DC. She has 20 years’ experience applying
          environmentally responsible practices and policies for disaster
          recovery, reconstruction, and risk reduction.
        </p>
        <p>
          Anita was instrumental in WWF's development of the Green Recovery and
          Reconstruction: Training Toolkit for Humanitarian Aid (GRRT) and leads
          a flood risk management guidance and training initiative on Natural
          and Nature-Based Flood Management.
        </p>
        <p>
          She has collaborated with the US Army Corps of Engineers and the
          United Nations on nature-based approaches to disaster risk management
          and is co-lead of the UN Emergency Shelter Cluster Environment
          community of practice. She was a member of the advisory committee for
          the Climate and Environment Charter for Humanitarian Organizations.
          Anita has a master’s from the Yale School of Forestry and
          Environmental Studies and an undergraduate degree in Biology from
          George Mason University.
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-24 mb-6 flex flex-col justify-between space-y-4"
    id="nilanga-jayasinghe"
  >
    <h2>
      Nilanga Jayasinghe, Manager, Asian Species, Wildlife Conservation, WWF-US
    </h2>
    <div class="">
      <img
        src=""
        alt="A headshot of Nilanga Jayasinghe"
        class="mb-4 w-[400px] md:float-left md:mb-0 md:mr-4"
      />
      <div class="[&>p]:mb-4">
        <p>
          Nilanga is a manager on the Wildlife Conservation team and focuses on
          Asian species, particularly elephants, rhinos, tigers, and snow
          leopards. She is also the WWF Network lead on Asian elephants and sits
          on the leadership team of the WWF Network human-wildlife conflict
          working group. She has more than 20 years of extensive experience in
          international species conservation and has worked on conservation
          issues in Asia, Africa, and North America. Nilanga’s areas of
          expertise include Asian elephants, human-wildlife conflict management,
          strategic planning, connectivity conservation and sustainable
          infrastructure, among others. She is also a member of the Asian
          Elephant Specialist Group , the Asian Rhino Specialist Group, and the
          Pangolin Specialist Group under the International Union for the
          Conservation of Nature’s (IUCN) Species Survival Commission, and a
          member of the Connectivity Conservation Specialist Group under the
          IUCN’s World Commission on Protected Areas.
        </p>
      </div>
    </div>
  </div>
</section>
